ion-content {
  --background: linear-gradient(181deg, #45b22f 0%, #31602b 40%, #f2f2f2 70%);
}

ion-card {
  margin-bottom: 16px;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

ion-item {
  --padding-start: 8px;
}

ion-icon[name="star"] {
  font-size: 1.5rem;
}
