<mat-card style="margin-left: 10px;">
  <mat-action-list>
    <div mat-subheader>Menu</div>

    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>home</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
    </button>

    <button mat-list-item routerLink="/registrar-jugador">
      <mat-icon mat-list-icon>person_add</mat-icon> Añadir Jugador
    </button>

    <button mat-list-item routerLink="/jugadores">
      <mat-icon mat-list-icon>sports_soccer</mat-icon> Gestión Jugadores
    </button>

    <button mat-list-item routerLink="/crear-equipo">
      <mat-icon mat-list-icon>group_add</mat-icon> Crear Nuevo Equipo
    </button>

    <button mat-list-item routerLink="/crear-partido">
      <mat-icon mat-list-icon>add_circle</mat-icon> Crear Partido
    </button>

    <button mat-list-item routerLink="/iniciar-partido">
      <mat-icon mat-list-icon>play_circle_outline</mat-icon> Iniciar Partido
    </button>

    <button mat-list-item routerLink="/gestionar-partidos">
      <mat-icon mat-list-icon>settings</mat-icon> Gestionar Partidos
    </button>

    <button mat-list-item routerLink="/historial-partidos">
      <mat-icon mat-list-icon>history</mat-icon> Historial
    </button>

    <button mat-list-item routerLink="/estadisticas-generales">
      <mat-icon mat-list-icon>analytics</mat-icon> Estadísticas
    </button>

  </mat-action-list>
</mat-card>
